:root {
  /* set color for website using CSS variables */
  /* declare a variable with */
  --primaryColor: #351b74;
  --primaryTextColor: #000;
  --secondaryTextColor: #fff;
  --secondaryColor: #d391ee;
}
body {
  background: var(--secondaryTextColor);
  font-family: "Open Sans", sans-serif;
  color: var(--primaryTextColor);
  padding: 10px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 40px 0;
}
#view-scores {
  text-decoration: none;
  color: var(--secondaryColor);
  font-size: 1.2em;
  cursor: pointer;
}

.timer-display {
  font-size: 1.2em;
}

main {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.main-title {
  font-size: 2em;
  margin: 0 0 40px 0;
}

main p {
  font-size: 1.1em;
  margin: 0 0 40px 0;
  line-height: 1.3em;
}

.btn {
  background-color: var(--primaryColor);
  color: var(--secondaryTextColor);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 0.9em;
  min-width: 5em;
}
.btn:hover {
  background-color: var(--secondaryColor);
}

#quiz-container,
#score-container,
#highscores-container,
.answer-check-container {
  text-align: left;
  display: none;
}

#quiz-container,
#score-container,
#highscores-container,
.answer-check-container {
  width: 75%;
  margin: 0 auto;
}

#question {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.option-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.option {
  padding: 0.5rem;
  background-color: var(--primaryColor);
  color: var(--secondaryTextColor);
  border: none;
  border-radius: 8px;
  margin: 5px 0;
  cursor: pointer;
  min-width: 12rem;
  text-align: left;
}

.option:hover {
  background-color: var(--secondaryColor);
}

.check-answer {
  display: block;
  color: #808080;
  font-size: 1.3em;
  margin: 40px 0 0 0;
  position: relative;
  padding: 20px 0;
  font-style: italic;
  font-weight: 100;
}

.check-answer:before {
  content: "";
  border-top: 1px solid #808080;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

button#submit-score {
  margin-left: 10px;
}

#score-board div {
  background-color: #d9d3e8;
  margin-bottom: 5px;
  padding: 5px;
}

#score-board {
  margin-bottom: 40px;
}
